*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  background-color: #ddddd0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  overflow: hidden;

  width: 100vw;
  height: 100vh;
}

h1{
  flex: 0 0 100%;
  height: 10vh;
  padding-top: 10px;
  text-align: center;
}

textarea{
  flex: 0 0 49%;

  font-size: 1.5em;

  margin: 10px 0;
  height: 40vh;

  border: 1px solid slategrey;
  border-radius: 5px;
}

div{
  flex: 0 0 49%;

  overflow-y: scroll;
  padding: 5px;
  margin: 10px 0;
  height: 40vh;

  border: 1px solid slategrey;
  border-radius: 5px;
}
